[submodule "hyde"]
	path = hyde
	url = git@github.com:getzola/hyde.git
[submodule "after-dark"]
	path = after-dark
	url = git@github.com:getzola/after-dark.git
[submodule "feather"]
	path = feather
	url = https://github.com/piedoom/feather
	branch = master
[submodule "even"]
	path = even
	url = git@github.com:getzola/even.git
[submodule "book"]
	path = book
	url = git@github.com:getzola/book.git
[submodule "dinkleberg"]
	path = dinkleberg
	url = https://github.com/rust-br/dinkleberg.git
[submodule "Ergo"]
	path = Ergo
	url = git@github.com:InsidiousMind/Ergo.git
[submodule "zola-theme-hikari"]
	path = zola-theme-hikari
	url = https://github.com/waynee95/zola-theme-hikari
[submodule "Zulma"]
	path = Zulma
	url = https://github.com/Worble/Zulma
[submodule "hallo"]
	path = hallo
	url = https://github.com/flyingP0tat0/zola-hallo.git
[submodule "sam"]
	path = sam
	url = https://github.com/janbaudisch/zola-sam.git
[submodule "zerm"]
	path = zerm
	url = git@github.com:ejmg/zerm.git
[submodule "hermit_zola"]
	path = hermit_zola
	url = https://github.com/VersBinarii/hermit_zola
[submodule "slim"]
	path = slim
	url = https://github.com/jameshclrk/zola-slim
