[submodule "hyde"]
	path = hyde
	url = https://github.com/getzola/hyde.git
[submodule "after-dark"]
	path = after-dark
	url = https://github.com/getzola/after-dark.git
[submodule "feather"]
	path = feather
	url = https://github.com/piedoom/feather.git
	branch = master
[submodule "even"]
	path = even
	url = https://github.com/getzola/even.git
[submodule "book"]
	path = book
	url = https://github.com/getzola/book.git
[submodule "dinkleberg"]
	path = dinkleberg
	url = https://github.com/rust-br/dinkleberg.git
[submodule "Ergo"]
	path = Ergo
	url = https://github.com/insipx/Ergo.git
[submodule "zola-theme-hikari"]
	path = zola-theme-hikari
	url = https://github.com/waynee95/zola-theme-hikari.git
[submodule "Zulma"]
	path = Zulma
	url = https://github.com/Worble/Zulma.git
[submodule "hallo"]
	path = hallo
	url = https://github.com/flyingP0tat0/zola-hallo.git
[submodule "sam"]
	path = sam
	url = https://github.com/janbaudisch/zola-sam.git
[submodule "zerm"]
	path = zerm
	url = https://github.com/ejmg/zerm.git
[submodule "hermit"]
	path = hermit
	url = https://github.com/VersBinarii/hermit_zola.git
[submodule "slim"]
	path = slim
	url = https://github.com/jameshclrk/zola-slim.git
[submodule "clean-blog"]
	path = clean-blog
	url = https://github.com/dave-tucker/zola-clean-blog.git
[submodule "zola-pickles"]
	path = zola-pickles
	url = https://github.com/lukehsiao/zola-pickles.git
[submodule "docsascode-theme"]
	path = docsascode-theme
	url = https://github.com/codeandmedia/zola_docsascode_theme.git
[submodule "lightspeed"]
	path = lightspeed
	url = https://github.com/carpetscheme/lightspeed.git
[submodule "zola-henry"]
	path = zola-henry
	url = https://github.com/sirodoht/zola-henry.git
[submodule "zola.386"]
	path = zola.386
	url = https://github.com/lopes/zola.386.git
[submodule "simple-dev-blog"]
	path = simple-dev-blog
	url = https://github.com/bennetthardwick/simple-dev-blog-zola-starter.git
[submodule "anpu"]
	path = anpu
	url = https://github.com/zbrox/anpu-zola-theme.git
[submodule "zola-paper"]
	path = zola-paper
	url = https://github.com/schoenenberg/zola-paper.git
[submodule "float"]
	path = float
	url = https://gitlab.com/float-theme/float.git
[submodule "solar-theme-zola"]
	path = solar-theme-zola
	url = https://github.com/hulufei/solar-theme-zola.git
[submodule "codinfox-zola"]
	path = codinfox-zola
	url = https://github.com/svavs/codinfox-zola.git
[submodule "particle"]
	path = particle
	url = https://github.com/svavs/particle-zola.git
[submodule "DeepThought"]
	path = DeepThought
	url = https://github.com/RatanShreshtha/DeepThought.git
[submodule "oceanic-zen"]
	path = oceanic-zen
	url = https://github.com/barlog-m/oceanic-zen.git
	branch = main
[submodule "hephaestus"]
	path = hephaestus
	url = https://github.com/BConquest/hephaestus.git
	branch = main
[submodule "emily"]
	path = emily
	url = https://github.com/kyoheiu/emily_zola_theme.git
[submodule "anatole-zola"]
	path = anatole-zola
	url = https://github.com/longfangsong/anatole-zola.git
[submodule "zola_easydocs_theme"]
	path = zola_easydocs_theme
	url = https://github.com/codeandmedia/zola_easydocs_theme.git
[submodule "dose"]
	path = dose
	url = https://github.com/oltdaniel/dose.git
[submodule "soapstone"]
	path = soapstone
	url = https://github.com/MattyRad/soapstone.git
[submodule "ntun"]
	path = ntun
	url = https://github.com/Netoun/ntun.git
[submodule "nasm-theme"]
	path = nasm-theme
	url = https://github.com/lucasnasm/nasm-theme.git
[submodule "adidoks"]
	path = adidoks
	url = https://github.com/aaranxu/adidoks.git
[submodule "tale-zola"]
	path = tale-zola
	url = https://github.com/aaranxu/tale-zola.git
[submodule "papaya"]
	path = papaya
	url = https://github.com/justint/papaya.git
[submodule "karzok"]
	path = karzok
	url = https://github.com/kogeletey/karzok.git
[submodule "resume"]
	path = resume
	url = https://github.com/AlongWY/zola-resume.git
[submodule "blow"]
	path = blow
	url = https://github.com/tchartron/blow.git
	branch = main
[submodule "hook"]
	path = hook
	url = https://github.com/InputUsername/zola-hook.git
[submodule "serene"]
	path = serene
	url = https://github.com/isunjn/serene.git
[submodule "d3c3nt"]
	path = d3c3nt
	url = git://git.figbert.com/d3c3nt.git
[submodule "zolastrap"]
	path = zolastrap
	url = https://github.com/marcodpt/zolastrap.git
[submodule "kodama-theme"]
	path = kodama-theme
	url = https://github.com/adfaure/kodama-theme.git
[submodule "zhuia"]
	path = zhuia
	url = https://github.com/gicrisf/zhuia.git
[submodule "abridge"]
	path = abridge
	url = https://github.com/Jieiku/abridge.git
[submodule "seje2"]
	path = seje2
	url = https://github.com/eatradish/seje2.git
[submodule "zola-theme-course"]
	path = zola-theme-course
	url = https://github.com/elegaanz/zola-theme-course.git
[submodule "kangae"]
	path = kangae
	url = https://github.com/ayushnix/kangae.git
[submodule "archie-zola"]
	path = archie-zola
	url = https://github.com/XXXMrG/archie-zola.git
[submodule "apollo"]
	path = apollo
	url = https://github.com/not-matthias/apollo.git
[submodule "zola-theme-terminimal"]
	path = zola-theme-terminimal
	url = https://github.com/pawroman/zola-theme-terminimal.git
[submodule "ataraxia-zola"]
	path = ataraxia-zola
	url = https://github.com/gersonbdev/ataraxia-zola.git
[submodule "mont"]
	path = mont
	url = https://github.com/kyoheiu/mont.git
[submodule "tilde"]
	path = tilde
	url = https://git.sr.ht/~savoy/tilde
[submodule "zplit"]
	path = zplit
	url = https://github.com/gicrisf/zplit.git
[submodule "shadharon"]
	path = shadharon
	url = https://github.com/syedzayyan/shadharon.git
[submodule "boring"]
	path = boring
	url = https://github.com/ssiyad/boring.git
[submodule "no-style-please"]
	path = no-style-please
	url = https://gitlab.com/4bcx/no-style-please.git
[submodule "toucan"]
	path = toucan
	url = https://git.42l.fr/HugoTrentesaux/toucan.git
[submodule "albatros"]
	path = albatros
	url = https://git.42l.fr/HugoTrentesaux/Albatros.git
[submodule "inky"]
	path = inky
	url = https://github.com/jimmyff/zola-inky.git
[submodule "seagull"]
	path = seagull
	url = https://git.42l.fr/HugoTrentesaux/seagull.git
[submodule "HayFlow"]
	path = HayFlow
	url = https://gitlab.com/cyril-marpaud/hayflow.git
[submodule "tabi"]
	path = tabi
	url = https://github.com/welpo/tabi.git
[submodule "bearblog"]
	path = bearblog
	url = https://codeberg.org/alanpearce/zola-bearblog.git
[submodule "andromeda"]
	path = andromeda
	url = https://github.com/Pixadus/andromeda-theme.git
[submodule "papermod"]
	path = papermod
	url = https://github.com/cydave/zola-theme-papermod.git
[submodule "just-the-docs"]
	path = just-the-docs
	url = https://github.com/jakeswenson/zola-just-the-docs.git
[submodule "anemone"]
	path = anemone
	url = https://github.com/Speyll/anemone.git
[submodule "zolarwind"]
	path = zolarwind
	url = https://github.com/thomasweitzel/zolarwind.git
[submodule "tranquil"]
	path = tranquil
	url = https://github.com/TeaDrinkingProgrammer/tranquil.git
[submodule "kita"]
	path = kita
	url = https://github.com/st1020/kita.git
[submodule "polymathic"]
	path = polymathic
	url = https://github.com/anvlkv/polymathic.git
[submodule "duckquill"]
	path = duckquill
	url = https://codeberg.org/daudix/duckquill.git
[submodule "mabuya"]
	path = mabuya
	url = https://github.com/semanticdata/mabuya.git
[submodule "minimal-dark"]
	path = minimal-dark
	url = https://github.com/kuznetsov17/minimal-dark.git
[submodule "zola-minimal"]
	path = zola-minimal
	url = https://github.com/semanticdata/zola-minimal.git
[submodule "halve-z"]
	path = halve-z
	url = https://github.com/charlesrocket/halve-z.git
[submodule "pico"]
	path = pico
	url = https://github.com/kuznetsov17/pico.git
[submodule "academic-workshop"]
	path = academic-workshop
	url = https://github.com/aterenin/academic-workshop.git
[submodule "academic-paper"]
	path = academic-paper
	url = https://github.com/aterenin/academic-paper.git
[submodule "zallery"]
	path = zallery
	url = https://github.com/gamingrobot/zallery.git
[submodule "coco"]
	path = coco
	url = https://github.com/es-romo/coco.git
[submodule "zola-hacker"]
	path = zola-hacker
	url = https://github.com/en9inerd/zola-hacker
[submodule "zola-grayscale"]
	path = zola-grayscale
	url = https://github.com/mattimustang/zola-grayscale.git
[submodule "neovim-theme"]
	path = neovim-theme
	url = git@github.com:Super-Botman/neovim-theme.git
[submodule "project-portfolio"]
	path = project-portfolio
	url = git@github.com:awinterstein/zola-theme-project-portfolio.git
[submodule "zluinav"]
	path = zluinav
	url = https://github.com/harrymkt/zluinav
[submodule "linkita"]
	path = linkita
	url = https://codeberg.org/salif/linkita.git
	branch = linkita
[submodule "re137"]
	path = re137
	url = git@github.com:tinikov/re137.git
[submodule "zola-agency"]
	path = zola-agency
	url = https://git.sr.ht/~vonzimp/zola-agency
[submodule "radion"]
	path = radion
	url = https://github.com/micahkepe/radion.git
[submodule "zola-theme-jiaxiang.wang"]
	path = zola-theme-jiaxiang.wang
	url = https://github.com/iWangJiaxiang/zola-theme-jiaxiang.wang
	branch = main
[submodule "homepage-creators"]
	path = homepage-creators
	url = https://github.com/iWangJiaxiang/Homepage-Creators.git
	branch = main
[submodule "zola-folio"]
	path = zola-folio
	url = https://github.com/evjrob/zola-folio
[submodule "portfolio-starter-kit"]
	path = portfolio-starter-kit
	url = https://github.com/roblesch/portfolio-starter-kit.git
[submodule "zola-futu"]
	path = zola-futu
	url = git@github.com:inhzus/zola-futu.git
