[submodule "hyde"]
	path = hyde
	url = git@github.com:getzola/hyde.git
[submodule "after-dark"]
	path = after-dark
	url = git@github.com:getzola/after-dark.git
[submodule "feather"]
	path = feather
	url = https://github.com/piedoom/feather
	branch = master
[submodule "even"]
	path = even
	url = git@github.com:getzola/even.git
[submodule "book"]
	path = book
	url = git@github.com:getzola/book.git
[submodule "dinkleberg"]
	path = dinkleberg
	url = https://github.com/rust-br/dinkleberg.git
[submodule "Ergo"]
	path = Ergo
	url = git@github.com:InsidiousMind/Ergo.git
[submodule "zola-theme-hikari"]
	path = zola-theme-hikari
	url = https://github.com/waynee95/zola-theme-hikari
[submodule "Zulma"]
	path = Zulma
	url = https://github.com/Worble/Zulma
[submodule "hallo"]
	path = hallo
	url = https://github.com/flyingP0tat0/zola-hallo.git
[submodule "sam"]
	path = sam
	url = https://github.com/janbaudisch/zola-sam.git
[submodule "zerm"]
	path = zerm
	url = git@github.com:ejmg/zerm.git
[submodule "hermit_zola"]
	path = hermit_zola
	url = https://github.com/VersBinarii/hermit_zola
[submodule "slim"]
	path = slim
	url = https://github.com/jameshclrk/zola-slim
[submodule "toucan"]
	path = toucan
	url = https://git.42l.fr/HugoTrentesaux/toucan.git
[submodule "clean-blog"]
	path = clean-blog
	url = https://github.com/dave-tucker/zola-clean-blog
[submodule "zola-pickles"]
	path = zola-pickles
	url = https://github.com/lukehsiao/zola-pickles.git
[submodule "docsascode-theme"]
	path = docsascode-theme
	url = https://github.com/codeandmedia/zola_docsascode_theme.git
[submodule "lightspeed"]
	path = lightspeed
	url = https://github.com/carpetscheme/lightspeed
[submodule "zola-henry"]
	path = zola-henry
	url = https://github.com/sirodoht/zola-henry
[submodule "zola.386"]
	path = zola.386
	url = https://github.com/lopes/zola.386
[submodule "simple-dev-blog"]
	path = simple-dev-blog
	url = https://github.com/bennetthardwick/simple-dev-blog-zola-starter
[submodule "anpu"]
	path = anpu
	url = https://github.com/zbrox/anpu-zola-theme.git
[submodule "zola-paper"]
	path = zola-paper
	url = https://github.com/schoenenberg/zola-paper.git
[submodule "float"]
	path = float
	url = https://gitlab.com/float-theme/float.git
[submodule "solar-theme-zola"]
	path = solar-theme-zola
	url = https://github.com/hulufei/solar-theme-zola.git
[submodule "codinfox-zola"]
	path = codinfox-zola
	url = https://github.com/svavs/codinfox-zola
[submodule "juice"]
	path = juice
	url = https://github.com/huhu/juice
[submodule "particle"]
	path = particle
	url = https://github.com/svavs/particle-zola
[submodule "DeepThought"]
	path = DeepThought
	url = https://github.com/RatanShreshtha/DeepThought.git
[submodule "oceanic-zen"]
	path = oceanic-zen
	url = https://github.com/barlog-m/oceanic-zen.git
	branch = main
[submodule "hephaestus"]
	path = hephaestus
	url = https://github.com/BConquest/hephaestus
	branch = main
[submodule "emily_zola_theme"]
	path = emily_zola_theme
	url = https://github.com/kyoheiu/emily_zola_theme
[submodule "anatole-zola"]
	path = anatole-zola
	url = https://github.com/longfangsong/anatole-zola.git
[submodule "zola_easydocs_theme"]
	path = zola_easydocs_theme
	url = https://github.com/codeandmedia/zola_easydocs_theme.git
[submodule "dose"]
	path = dose
	url = https://github.com/oltd/dose.git
[submodule "soapstone"]
	path = soapstone
	url = https://github.com/MattyRad/soapstone.git
[submodule "ntun"]
	path = ntun
	url = https://github.com/Netoun/ntun
[submodule "nasm-theme"]
	path = nasm-theme
	url = https://github.com/lucasnasm/nasm-theme.git
[submodule "adidoks"]
	path = adidoks
	url = git@github.com:aaranxu/adidoks.git
[submodule "tale-zola"]
	path = tale-zola
	url = git@github.com:aaranxu/tale-zola.git
[submodule "papaya"]
	path = papaya
	url = git@github.com:justint/papaya.git
[submodule "karzok"]
	path = karzok
	url = https://github.com/kogeletey/karzok
[submodule "resume"]
	path = resume
	url = https://github.com/AlongWY/zola-resume.git
